In [98]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import os

In [100]:
username = os.getenv("DB_USERNAME")
password = os.getenv("DB_PWD")
enginge = create_engine(f"mysql+pymysql://{username}:{password}@localhost/ap")

In [102]:
conn = enginge.connect()

In [104]:
# read video games table from mysql
# df = pd.read_sql("video_games", conn)
df = pd.read_sql_query("SELECT * FROM video_games", conn)
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,None,NaN,None,None
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,None,NaN,None,None

In [106]:
df.shape

(16719, 16)

In [108]:
df.columns

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [112]:
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

<h1 style="background-color:red;padding:12px"><b>Problem 1: Was the average of global sales higher before or after 2005?</b></h1>

In [115]:
# running sql queries using python as interface
average_global_sales_before_2005 = """
SELECT AVG(Global_Sales) as pre_2005
FROM video_games
WHERE Year_of_Release < 2005
"""
average_global_sales_after_2005 = """
SELECT AVG(Global_Sales) as post_2005
FROM video_games
WHERE Year_of_Release > 2005
"""

In [126]:
average_pre_2005 = pd.read_sql_query(average_global_sales_before_2005, conn)
average_post_2005 = pd.read_sql_query(average_global_sales_after_2005, conn)
print(f"Average of global sales before 2005:", average_pre_2005.values[0])
print(f"Average of global sales after 2005:", average_post_2005.values[0])
print(f"Average of global sales was higher {"before" if average_pre_2005["pre_2005"].values > average_post_2005["post_2005"].values else "after"} 2005")

Average of global sales before 2005: [0.65003865]
Average of global sales after 2005: [0.48367321]
Average of global sales was higher before 2005

<h1 style="background-color:red;padding:12px">
    <b>Problem 2: Create a new column that labels records before 2005 as 'pre-2005' and after 2005 as 'post-2005'</b>
</h1>

In [122]:
query = """
SELECT *,
CASE
    WHEN Year_of_Release < 2005 THEN "pre_2005"
    ELSE "post_2005"
END AS label
FROM video_games
"""
new_df = pd.read_sql_query(query, conn)
new_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,label
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,post_2005
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,None,NaN,None,None,pre_2005
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,post_2005
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,post_2005
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,None,NaN,None,None,pre_2005